{{#each recipes as |recipe|}}
  {{log recipe}}
<h3 data-id="{{recipe.id}}" class="recipe-list"> <small>Name: {{recipe.name}}</small></h3>
  <div> <ul data-id="{{recipe.id}}">
    <li>
      {{#if recipe.steps}}
        {{recipe.steps}}
      {{else}}
        No steps provided
      {{/if}}
    </li>
    <li>
      {{#if recipe.link}}
        {{recipe.link}}
      {{else}}
        No link found
      {{/if}}
    </li>
    <button class="btn btn-default delete-recipe" data-class="delete-recipe" data-id='{{recipe.id}}'>Remove recipe!</button>
    <button class="btn btn-default update-recipe" class="update-recipe" data-class="update-recipes" data-id='{{recipe.id}}'>Update recipe!</button>
    <!-- //<li><button class="btn btn-default update-recipe" data-class="update-recipe" data-id='{{recipe.id}}'>Update recipe!</button></li> -->
    <!-- <div><form class="update-one-recipe hide" data-id="{{recipe.id}}"> -->

      <div class = hidden"><form class="update-one-recipe " id="update-recipe-{{recipe.id}}" data-id="{{recipe.id}}">
        <fieldset>
          <legend>Update Your Recipe:</legend>
          Steps: <input name="steps" type="text" placeholder="Update the receipe steps" data-id="{{recipe.id}}" value="{{recipe.steps}}"><br>
          Recipe Name: <input name="name" type="text" placeholder="Update Recipe Name " data-id="{{recipe.id}}" class="update-recipe-name" value="{{recipe.name}}"><br>
          Recipe Link: <input name="link" type="text" placeholder="Update the recipe URL" data-id="{{recipe.id}}" value="{{recipe.link}}" autocomplete="off">
        </fieldset>
          <button type="submit" class="update-one-recipe" data-id="{{recipe.id}}"> Save </button>

     </form> </div>


  </ul></div>
  {{/each}}
