{{#each recipes as |recipe|}}
  <div class="col-sm-6 recipe-box card">
    <h5 data-id="{{recipe.id}}" class="recipe-list"> Name: {{recipe.name}}</h5>
    <ul data-id="{{recipe.id}}">
      <li>
        <h5> {{#if recipe.steps}}
    Recipe Steps : {{recipe.steps}}
      {{else}}
        No steps found.
      {{/if}}</h5></li>
      <li>
        <h5>{{#if recipe.link}}
    Recipe Link : {{recipe.link}}
      {{else}}
        No link found.
      {{/if}}</h5> </li>

      <button class="btn btn-default delete-recipe" data-class="delete-recipe" data-id='{{recipe.id}}'>Remove recipe</button>

      <form class="hide recipe-update-form update-form-{{recipe.id}}" data-id="{{recipe.id}}">

        <legend class="handlebar-legend"><h5>Update Your Recipe:</h5></legend>
        Update recipe name: <input name="name" type="text" placeholder="Update Recipe Name " data-id="{{recipe.id}}" class="update-recipe-name" value="{{recipe.name}}"><br> Update recipe steps: <input name="steps" type="text" placeholder="Update the receipe steps"
          data-id="{{recipe.id}}" value="{{recipe.steps}}"><br> Update recipe link: <input name="link" type="text" placeholder="Update the recipe URL" data-id="{{recipe.id}}" value="{{recipe.link}}" autocomplete="off">
        </fieldset>

        <button type="submit" class="update-one-recipe">Save</button>

</form>
      <button data-id="{{recipe.id}}" class="btn btn-default update-button" type="submit">Update Recipe</button>



    </ul>
  </div>
{{/each}}
